.aping-design-deadwood {

    .player {
        width: 100%;
        height: 100vh;
    }

    #deadwood-owl-carousel {
        .owl-item {

            .outer-carousel-item {

                .inner-carousel-item {

                    border: 2px solid white;
                    padding: 0;
                    cursor: pointer;

                    .aping-picture-link {

                        @include transition(all 250ms ease);

                        &:hover {
                            opacity: 1;
                            @include filter(grayscale(0.5) sepia(0.6));
                        }
                    }

                }
                &.active {
                    border: 5px solid #ff8888;
                }
            }
        }

    }
}

