.aping-design-deadwood {

    img.img-responsive-icon {
        height: auto;
        max-width: 100%;
    }

    /* responsive video-container for any video-type */
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .player {
        width: 100%;
        height: 100vh;
    }

    #deadwood-owl-carousel {
        .owl-item {

            .outer-carousel-item {

                .inner-carousel-item {

                    border: 2px solid white;
                    padding: 0;
                    cursor: pointer;

                    .aping-picture-link {

                        @include transition(all 250ms ease);

                        &:hover {
                            opacity: 1;
                            @include filter(grayscale(0.5) sepia(0.6));
                        }
                    }

                }
                &.active {
                    border: 5px solid #ff8888;
                }
            }
        }

    }
}