<div class="aping-design-deadwood">
    <div ng-controller="apingDeadwoodController">
        <div>
            <div ng-cloak>
                <div class="video-container" ng-if="selected" ng-cloak ng-bind-html="getHtml(selected.markup)"></div>
            </div>
            <br>

            <div id="deadwood-owl-carousel">
                <div ng-repeat="video in workingCopy" class="outer-carousel-item" ng-class="$index==0 ? 'active' : ''" ng-click="activateVideo(video, $event)" ng-cloak>
                    <div class="inner-carousel-item">
                        <img ng-src="{{::video.img_url}}" class="aping-picture-link img-responsive-icon" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>